<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreatorHistory</key>
	<array>
		<string>ttxt</string>
		<string>CARO</string>
		<string>MMKE</string>
		<string>BOBO</string>
		<string>msng</string>
		<string>MOZZ</string>
	</array>
	<key>FavoriteTypes</key>
	<array>
		<dict>
			<key>creatorCode</key>
			<string>CARO</string>
			<key>kind</key>
			<string>Acrobat's PDF</string>
			<key>typeCode</key>
			<string>PDF </string>
		</dict>
		<dict>
			<key>creatorCode</key>
			<string>prvw</string>
			<key>kind</key>
			<string>Preview's PDF</string>
			<key>typeCode</key>
			<string>PDF </string>
		</dict>
		<dict>
			<key>creatorCode</key>
			<string>ToyS</string>
			<key>kind</key>
			<string>Script Editor's Script</string>
			<key>typeCode</key>
			<string>osas</string>
		</dict>
		<dict>
			<key>creatorCode</key>
			<string>asDB</string>
			<key>kind</key>
			<string>Script Debugger's Script</string>
			<key>typeCode</key>
			<string>osas</string>
		</dict>
		<dict>
			<key>creatorCode</key>
			<string>MMKE</string>
			<key>kind</key>
			<string>mi document</string>
			<key>typeCode</key>
			<string>TEXT</string>
		</dict>
	</array>
	<key>HistoryMax</key>
	<integer>10</integer>
	<key>IsOpenInfoDrawer</key>
	<false/>
	<key>NeedUpdateIcons</key>
	<true/>
	<key>TableCollapseState</key>
	<true/>
	<key>TypeHistory</key>
	<array>
		<string>TEXT</string>
		<string>msng</string>
		<string>PDF </string>
	</array>
	<key>donationURL</key>
	<string>http://homepage.mac.com/tkurita/scriptfactory/donationproxy.html</string>
</dict>
</plist>
